@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.banner {
  bottom: 0px;
  position: fixed;
  background-color: darkcyan;

  z-index: 999;
  width: 100%;
  height: 40px;
}

.banner h4 {
  color: #ffffff;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  font-family: "Inter", serif;
}
